/*General */
a:hover {
  color: #001f3f96; /* Cor do link ao passar o mouse sobre ele */
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse sobre o link */
}

/* AntDesign */

/*Typhography */

.ant-typography {
  margin-bottom: 0px !important;
}
