/*General */
a:hover {
  color: #001f3f96;
  text-decoration: underline;
}

/* AntDesign */

/*Typhography */

.ant-typography {
  margin-bottom: 0px !important;
}

.ant-btn-primary {
  background-color: #001f3f !important;
}
/* .ant-btn-default:hover {
  border-color: #001f3f !important;
  color: #001f3f !important;
} */

.button,
[type='submit'] {
  background-color: #001f3f !important;
  color: white;
}

.button:hover,
[type='submit'] {
  background-color: #001f3f !important;
  color: white !important;
}
