/*General */
a:hover {
  color: #001f3f96;
  text-decoration: underline;
}

/* AntDesign */

/*Typhography */

.ant-typography {
  margin-bottom: 0px !important;
}
.button,
[type='submit'] {
  background-color: #001f3f !important;
  color: white;
}

.button:hover,
[type='submit'] {
  background-color: #001f3f !important;
  color: white !important;
}
